@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'brightwall';
    src: url(../fonts/brightwall.ttf);
}

:root {
    /*Para usar as variaveis, usa-se var(--nome)*/
    --bg1: #212329;
    --bg2: #494F5F;
    --bg3: #D9D9D9;
    --tx1: #9966FF;
    --tx2: #BD9CFF;
    --tx3: #E4D7FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background.png);
    font-family: 'Assistant';
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg1);
    padding: 10px 20px;
}

.logo img {
    padding-left: 160%;
    height: 40px;
}

.nav-links {
    padding-right: 15%;
    color: #fff;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}

.nav-links a:hover {
    color: var(--tx1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    z-index: 10;
    text-align: center;
}

.dropdown-menu a {
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu { /*Fazer aparecer o dropdown ao passar o mouse*/
    display: block;
}

.dropdown-menu a:hover {
    color: var(--tx1);
}

.container1 {
    display:flex;
    float:left;
}

.container2 {
    padding: 20px;
    text-align: center;
}

.container2 h1 {
    font-family: 'brightwall';
    font-size: 24px;
}

.container2 p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.container2 button {
    border-radius: 10px;
    padding: 5px;
    padding-left: 8%;
    padding-right: 8%;
    color: #fff;
    background: var(--tx1);
}

main h1 {
    padding-top: 60px;
    color: var(--tx1)
}

main {
    color: #fff;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 15px;
}

footer {
    font-family: 'Assistant';
    text-decoration: none;
    background: var(--bg1);
    padding: 10px;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.icon_redesocial img {
    height: 15px;
    width: 15px;
}